<h1>Addition</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_number %></p></dd>

  <dt>Second number</dt>
  <dd><%= @second_number %></p></dd>

  <dt>Result</dt>
  <dd><%= @sum %></dd>
</dl>

<a href="/add">Do another addition</a>
