<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_field">Multiply this:</label>
  <input type="text" id="first_field" name="num1">

  <label for="second_field">by this:</label>
  <input type="text" id="second_field" name="num2">

  <button>Multiply!</button>
</form>
