<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="first_field">Subtract this:</label>
  <input type="text" id="first_field" name="num1">

  <label for="second_field">from this:</label>
  <input type="text" id="second_field" name="num2">

  <button>Subtract!</button>
</form>
